.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.DS_Store
*.nrrd
.ipynb_checkpoints/
__pycache__/
*~

_build/
Pipfile.lock
*.gz
*.npz
*.png
*.xcf
*.jpg
docs/merfish_data/mouse_brain_map_BrainReceptorShowcase_Slice2_Replicate3_STalign_to_Visium_tissue_hires_image_with_point_annotator.csv.gz
*.gz
*.csv
*.raw
*.mhd
*.xml
*.zip
